* { box-sizing: border-box; }
html, body { height: 100%; margin: 0; padding: 0; }


body {
  background-color: #FFFFF0;
  font-family: "Anonymous Pro", monospace;
  color: #111;
}

.page {
  width: 100%;
  padding: 20px 40px;
}


.big-title {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 14vw; 
  line-height: 0.85;
  margin: 0;
  text-align: center;
  font-size: 17vw; 
  text-transform: uppercase;
}


.left-text {
  font-size: 24px;
  line-height: 1.1;
  margin-top: 15px;
  margin-bottom: 25px;
  margin-left: 50px; 
}


.right-text {
  font-size: 24px;
  float: right;
  margin-top: -70px; 
  margin-right: 70px; 
}


.thumb-row {
  display: flex;
  gap: 12px;
  margin: 4px 0 40px;          
  justify-content: center;    
  flex-wrap: nowrap;         
  overflow-x: auto;            

}


.thumb {
  width: 110px;
  text-align: left;        
  margin: 0;                 
}
.thumb a {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  background: #ddd;
  text-decoration: none;
  color: inherit;
}
.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform .4s ease;
}
.thumb a:hover img { transform: scale(1.1); }


.thumb .num {
  font-size: 14px;
  margin-top: 6px;
  opacity: .9;
}


.gallery-title {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 200px;
  line-height: 0.9;
  text-transform: uppercase;
  font-size: 17vw;
  margin: 0;
}

/* entry7,8*/
.thumb-row.seven {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}
.thumb-row.seven .thumb {
  width: auto;
  text-align: center;
}
.thumb-row.seven .circle {
  width: 80px;
  height: 36px;
  background-color: #EDEDF0; 
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}


.thumb-row.seven .circle span {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  color: #111;
  letter-spacing: 0.05em;
}


.thumb-row.seven .circle:hover {
  background-color: #5B7005;
}

.thumb-row.seven .circle:hover span {
  color: #FAF9F6;
}

.thumb-row.seven .thumb {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.thumb-row.seven .thumb a {
  background: transparent !important;
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}


/* entry9*/
.search-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  text-decoration: none; 
}

.search-box {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ededf0;
  border-radius: 999px;
  padding: 12px 24px;
  width: min(260px, 60vw);
  cursor: pointer;
  transition: all 0.25s ease;
}

.search-icon {
  font-size: 0.9rem;
}

.search-text {
  font-size: 1rem;
  font-family: inherit;
  color: #111;
}


.search-wrapper:hover .search-box {
  background-color: #e2e2e2;
  transform: scale(1.02);
}